<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
>
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/style.professeur.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<br>
<br>
<br>

<div class="container bootdey" layout:fragment="contentForView">
    <div class="row">
        <div class="col-md-11 ">
            <div class="row">
                <div class="col-md-6 col-lg-4 btn-prof" th:each="data:${professeurs}">
                    <div class="card hover-shadow">
                        <div class="card-body text-center pt-1 pb-20" >
                            <a href="#">
                                <img class="avatar avatar-xxl" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                            </a>
                            <h5 class="mt-2 mb-0"><a class="hover-primary" th:href="@{/ac/session(id=${data.id})}" th:text="${data.prenom}+ ${data.nom}"></a></h5>
                            <span th:text="${data.specialite}">Designer</span>
                        </div>
                        <footer class="card-footer flexbox">
                            <div>
                                <i class="fa fa-map-marker pr-1"></i>
                                <span th:text="${data.grade}">Blackwood, NJ</span>
                            </div>
                            <div>
                                <i class="fa fa-money pr-1"></i>
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Cours
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" th:each="cour:${data.cours}">
                                        <li th:text="  ${cour.module.libelle}"><a class="dropdown-item" href="#">Action</a></li>
                                    </ul>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>



                <div class="col-md-6 col-lg-4">
                    <div class="card hover-shadow">
                        <div class="flexbox align-items-center px-20 pt-20">
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-download"></i> Download Resume</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body text-center pt-1 pb-20">
                            <a href="#">
                                <img class="avatar avatar-xxl" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </a>
                            <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">Hossein Shams</a></h5>
                            <span>Full Stack Developer</span>
                            <div class="mt-20">
                                <span class="badge badge-default">PHP</span>
                                <span class="badge badge-default">HTML</span>
                                <span class="badge badge-default">CSS</span>
                                <span class="badge badge-default">jQuery</span>
                            </div>
                        </div>

                        <footer class="card-footer flexbox">
                            <div>
                                <i class="fa fa-map-marker pr-1"></i>
                                <span>Stockbridge, GA</span>
                            </div>
                            <div>
                                <i class="fa fa-money pr-1"></i>
                                <span>$65 / hour</span>
                            </div>
                        </footer>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script !src="">
    const btnsProf=document.querySelectorAll(".btn-prof")
    var profId;
    for(let btn of btnsProf){
                btn.addEventListener("click", () => {
                    profId=btn.getAttribute("data-id")
                    alert(profId)
                    btnCommande.setAttribute("href","/c/catalogue/ajouterArticle/"+burgerId+"/"+friteId+"/"+boissonId)}) }


</script>

</body>
</html>